* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(149, 149, 149, 0.264);
  background-size: cover;
}

#TopMenu {
  display: grid;
  grid-template-columns: auto auto;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #2c2d2d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#logo {
  width: 240px;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.topnavWithoutLogo {
  color: silver;
  text-align: center;
  padding: 1.3em 1.4em 1em 1.4em;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
}

.topnavWithoutLogo:hover {
  background-color: #3b3b3b;
  color: gold;
  transition: 0.3s ease;
  height: 119%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.active {
  background-color: #3b3b3b;
  color: gold;
  height: 119%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.productsWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  margin: 3em 5% 0 5%;
}

.productsWrapper img {
  width: 100%;
}

.relatedProductsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  margin: 1em;
}

.relatedProductsWrapper img {
  width: 100%;
}

#relatedProductsH1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  width: 100%;
  height: 3em;
  margin-bottom: 2em;
  border-width: 0px;
  color: rgb(114, 114, 114);
  border-top: 10px solid rgb(174, 174, 174);
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  text-shadow: inset -50px -50px 0px #528ecc;
  background: linear-gradient(rgb(202, 202, 202), rgb(230, 230, 230));
}

#relatedProductsH1 strong {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  margin: 0.5em;
}

header img {
  width: 100%;
}

h1 {
  font-size: 1.2em;
  height: 20%;
  color: rgb(44, 44, 44);

  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#mainBanner {
  z-index: -1;
  position: relative;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  top: 3em;
  transition: 1s ease;
}

.sideMenu {
  color: silver;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.sideMenu:hover {
  color: gold;
  background-color: #3b3b3b;
  width: inherit;
  transition: 0.5s ease;
}

#search {
  margin: auto 0.1em auto 1em;
  height: 3em;
  border: white;
  width: 20em;
}

#find {
  background-color: silver;
  color: white;
  margin: auto 1em auto 4px;
  height: 3em;
  width: 3em;
  border: none;
}

#find:hover {
  background: #528009;
  color: white;
  cursor: pointer;
}

.description {
  display: grid;
  color: #2c2d2d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7em;
  grid-template-columns: auto;
  text-align: center;
}

#availability {
  font-size: 0.8em;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(32, 97, 0);
  text-align: center;
}

#price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  text-align: center;
  background-color: rgba(149, 149, 149, 0.264);
  padding: 0.5em;
  display: inline;
  font-size: 1em;
  color: #2c2d2d;
  background-color: rgb(237, 237, 237);
  margin-bottom: 1em;
  margin-top: 1em;
}

#navFlexRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.items {
  display: grid;
  grid-template-columns: auto;
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  margin: 0.2em;
  height: 10 0%;
  border-top: 10px solid gold;
  box-shadow: 10px 10px rgb(0, 0, 0);
  clip-path: polygon(0 0, 100% 0, 100% 94%, 50% 100%, 0 94%);
}

#productDetailWrapper {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 7em;
  margin-bottom: 2em;
  margin-left: 30%;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    "IMAGE_SRC PRODUCT_NAME PRODUCT_NAME PRODUCT_NAME "
    "IMAGE_SRC ID ID ID"
    "IMAGE_SRC AVAILABILITY AVAILABILITY AVAILABILITY "
    "IMAGE_SRC PRICE PRICE PRICE "
    "IMAGE_SRC PRICE_WITH_VAT PRICE_WITH_VAT PRICE_WITH_VAT "
    "FIGURE BASKET INPUT INPUT"
    "DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION ";
  grid-template-columns: 1fr 0.2fr 0.7fr 0.1fr;

  border-top: 10px solid gold;
  padding: 1em;
  width: 50%;
  top: 10em;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 50% 100%, 0 94%);
}

#IMAGE_SRC {
  grid-area: IMAGE_SRC;
  width: 100%;

  padding-right: 1em;
  padding-bottom: 1em;
}

#FIGURE {
  grid-area: FIGURE;
}

#PRODUCT_NAME {
  grid-area: PRODUCT_NAME;
  font-size: 1.5em;
  font-weight: 600;
}

#ID {
  grid-area: ID;
}
#AVAILABILITY {
  grid-area: AVAILABILITY;
  background-color: rgb(33, 33, 33);
  width: 30%;
  margin: 1em 0 1em 0;
  padding: 0.2em;
  text-align: center;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: 600;
}
#PRICE {
  grid-area: PRICE;
}
#PRICE_WITH_VAT {
  grid-area: PRICE_WITH_VAT;
  font-size: 2em;
  font-weight: 600;
}

#freeDelivery {
  position: relative;
  margin: 0 auto 0 auto;
  font-size: 21px;
  font-family: Arial;
  width: 15em;
  height: 2em;
  border-width: 1px;
  color: #ffffff;
  border-color: #d83526;
  font-weight: bold;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  text-shadow: inset 0px 1px 0px #b23e35;
  background: linear-gradient(#fe1a00, #ce0100);
}

#BASKET {
  grid-area: BASKET;
  margin: 1em 0 2em 0;
  height: 3em;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  border-width: 1px;
  color: #ffffff;
  border-color: #74b807;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  text-shadow: inset 0px 1px 0px #528009;
  background: linear-gradient(#89c403, #77a809);
}

#BASKET:hover {
  background: #528009;
  cursor: pointer;
}

#INPUT {
  grid-area: INPUT;
  width: 5em;
  height: 2.3em;
  margin-left: 0.5em;
  margin-top: 0.8em;
  text-align: center;
  border-color: rgb(212, 212, 212);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  border: 2px solid black;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  height: 2em;
  width: 2em;
}

#DESCRIPTION {
  grid-area: DESCRIPTION;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 3px solid rgb(94, 94, 94);
}

.productdetailSpan {
  font-size: 0.7em;
  color: rgb(117, 117, 117);
}

#productDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 3em;
  font-size: 1em;
  font-family: Arial;
  width: 100%;
  height: 3em;
  border-width: 1px;
  color: #ffffff;
  border-color: #74b807;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  text-shadow: inset 0px 1px 0px #528009;
  background: linear-gradient(#89c403, #77a809);
  margin-bottom: 2em;
}

#productDetail:hover {
  background: #528009;
}

#newsLatterFormularWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 25em;
  background-color: rgba(167, 162, 153, 0.568);
  border: none;
}

#newsLatterFormular {
  display: flex;
  justify-content: center;
  margin: auto;
}

#newsLatterFormularInput {
  width: 260px;
  height: 4em;
  border: none;
  margin: auto 0 auto 0;
}
#newsLatterFormularButton {
  height: 2.3em;
  width: 90px;
  border: none;
  margin: auto 0 auto 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  background-color: #2c2d2d;
  color: silver;
}

#newsLatterFormularButton:hover {
  background-color: black;
  cursor: pointer;
  color: gold;
}

#newsLatterText {
  display: flex;
  text-align: center;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  padding: 0.1em;
}

#newsLatterImage {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 10%;
  min-width: 100px;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: silver;
  width: 100%;
  font-size: 1em;
  font-family: "Tahoma", Geneva, Verdana, sans-serif;
  line-height: 2;
  background-color: #2c2d2d;
  border-radius: 10px, 10px, 0, 0;
}

ul {
  list-style-type: none;
}

li {
  font-size: 1em;
}

footer #copy {
  color: rgb(255, 255, 255);
  background-color: #2c2d2d;
  font-family: sans-serif;
  font-size: 0.8em;
}

#TopMenuMobil {
  display: none;
}

.topnav a.icon {
  float: right;
  display: block;
}

.slideshow-container {
  display: none;
}
.foot {
  display: block;
  width: 100%;
  text-align: center;
}

.topnav.responsive {
  display: block;
  position: fixed;
}
.topnav.responsive .icon {
  position: fixed;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

/** Category Tree*/
.navigation {
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  padding: 0;
  margin: 0;
  padding-top: 1em;
  border: 0;
  line-height: 1;
  left: 4em;
  top: 4.7em;
}

#polygon {
  position: absolute;
  top: 30.5em;
  width: 19.8em;
  height: 5em;
  background-color: #2c2d2d;
  clip-path: polygon(100% 0, 100% 35%, 50% 70%, 0 35%, 0 0);
}

.navigation ul,
.navigation ul li,
.navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation ul {
  position: relative;
  z-index: 500;
  float: left;
}
.navigation ul li {
  float: left;
  min-height: 0.05em;
  line-height: 0.5em;
  vertical-align: middle;
  position: relative;
}
.navigation ul li.hover,
.navigation ul li:hover {
  position: relative;
  z-index: 510;
  cursor: pointer;
}
.navigation ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 520;
  width: 100%;
}
.navigation ul ul li {
  float: none;
}
.navigation ul ul ul {
  top: 0;
  right: 0;
}
.navigation ul li:hover > ul {
  visibility: visible;
}
.navigation ul ul {
  top: 0;
  left: 99%;
}
.navigation ul li {
  float: none;
}
.navigation ul ul {
  margin-top: 0.05em;
}
.navigation {
  width: 19.8em;
  background: #2c2d2d;
  font-family: "roboto", Tahoma, Arial, sans-serif;
}
.navigation:before {
  content: "";
  display: block;
}
.navigation:after {
  content: "";
  display: table;
  clear: both;
}
.navigation a {
  display: block;
  padding: 1em 1.3em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation > ul {
  width: 20em;
}
.navigation ul ul {
  width: 20em;
}
.navigation > ul > li > a {
  color: silver;
}
.navigation > ul > li > a:hover {
  color: gold;
}
.navigation > ul > li a:hover,
.navigation > ul > li:hover a {
  background: #4a4b4b;
}
.navigation li {
  position: relative;
}
.navigation ul li.has-sub > a:after {
  content: "»";
  position: absolute;
  right: 1em;
}
.navigation ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.navigation ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
.navigation ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.navigation ul ul {
  border: 1px solid;
}
.navigation ul ul a {
  color: #ffffff;
}
.navigation ul ul a:hover {
  color: black;
}
.navigation ul ul li {
  border-bottom: 1px solid rgb(170, 170, 170);
}
.navigation ul ul li:hover > a {
  background: #4a4b4b;
  color: gold;
}
.navigation.align-right > ul > li > a {
  border-left: 0.3em solid silver;
  border-right: none;
}
.navigation.align-right {
  float: right;
}
.navigation.align-right li {
  text-align: right;
}
.navigation.align-right ul li.has-sub > a:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
.navigation.align-right ul li.has-sub > a:after {
  content: none;
}
.navigation.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
.navigation.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.navigation.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
.navigation.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

@media only screen and (max-width: 1771px) {

  .navigation {
    display: flex;
    position: absolute;
    
    
  }

  .productsWrapper {
    margin: 6.2em 5% 0 5%;
  }
  #mainBanner {
   position: relative;
  }

  #productDetailWrapper {
   
    width: 50%;
    margin: auto;
  }

  #topNavBasketIconMobil {
    margin: auto;
    width: 5%;
    min-width: 60px;
  }
  #userMobil {
    margin: auto;
    width: 5%;
    min-width: 60px;
  }

  #menuRightMobil {
    margin: auto;
    width: 5%;
    min-width: 60px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1566px) {

/**category tree responsive*/

.navigation {
  position: absolute;
  left: 0;
  
}

#polygon {
  display: none;
}

/**------------------------------------------------------*/


#mainBanner {
  top: 0;
}



  .productsWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 5% 0 5%;
  }

  #navFlexRight {
    display: none;
  }

  #TopMenu {
    display: none;
  }

  #TopMenuMobil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #2c2d2d;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #logoMobil {
    width: 240px;
    margin-right: 20px;
  }

  #menuLeftMobil {
    width: 5%;
    min-width: 60px;
    float: left;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
  }

  .searchMobil {
    display: flex;
    margin: 0;
    width: 40%;
    min-width: 359px;
    height: 100%;
    font-size: 2em;
    padding: 0.3em;
  }

  #inputSearchMobil {
    font-size: 1em;
    width: 80%;
  }

  #findMobil {
    width: 55px;
    height: 48px;
  }

  #findMobil:hover {
    cursor: pointer;
  }

  

  .topnavWithoutLogoMobil {
    color: silver;
    text-align: center;

    font-size: 1.2em;
    font-weight: 600;
  }

  #iconsInMenuRight {
    display: flex;
    min-width: 340px;
    justify-content: center;
  }

  #freeDelivery {
    grid-area: FIGURE;
  }

  #productDetailWrapper {
    margin: 7em auto 2em auto;

    display: grid;
    grid-template-areas:
      "PRODUCT_NAME PRODUCT_NAME PRODUCT_NAME PRODUCT_NAME "
      "IMAGE_SRC IMAGE_SRC IMAGE_SRC IMAGE_SRC "
      " AVAILABILITY AVAILABILITY AVAILABILITY AVAILABILITY "
      "PRICE PRICE PRICE PRICE "
      "PRICE_WITH_VAT PRICE_WITH_VAT PRICE_WITH_VAT PRICE_WITH_VAT  "
      "FIGURE FIGURE FIGURE FIGURE "
      "BASKET INPUT INPUT INPUT "
      "DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION  ";

    border-top: 10px solid gold;
    padding: 1em;
    width: 50%;
    min-width: 350px;
  }

  .relatedProductsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    margin: 1em;
  }

  .relatedProductsWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    margin: 0.5em;
  }

  @media only screen and (max-width: 907px) {

    .navigation{
top: 6.8em;

    }
    
    #productDetailWrapper {
      width: 80%;
      margin-top: 10em;
    }
    .productsWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0.5em;
      margin: 0 1% 0 1%;
    }
    .relatedProductsWrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0.5em;
      margin: 0.5em;
    }
  }

  @media only screen and (max-width: 710px) {
    .navigation{
      top: 9em;
      
          }

    
    #productDetailWrapper {
      width: 80%;
      margin-top: 10em;
    }

    .productsWrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.5em;
      margin: 0em 1% 0 1%;
    }
    .relatedProductsWrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5em;
      margin: 0.5em;
    }
  }

  @media only screen and (max-width: 500px) {
    .productsWrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.5em;
      margin: 9.4em 1% 0 1%;
    }

    
    #logoMobil {
      width: 150px;
    }

    #productDetailWrapper {
      margin: 11em 1em 1em auto;
    }

    .relatedProductsWrapper {
      grid-template-columns: 1fr;
      grid-gap: 0.5em;
      margin: 0.5em;
    }
  }

  #rightExpandMenu {
    width: 100%;
    top: -20em;
    text-align: center;
    display: none;
    flex-direction: column;
    color: silver;
    z-index: 1;
    background-color: #2c2d2d;
    padding: 1em;
    border-radius: 0 0 3px 3px; 
    
     
  }

  

  .topnavWithoutLogoExpandMenu{
text-decoration: none;
color: silver;
padding: 0.7em;
  }
  .topnavWithoutLogoExpandMenu:hover{
    color: gold; 

  
    
      }

}
